@import './variable';
@import './flex';
@import './mixin';
@import './transition';
@import './element-ui';

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  // 继承颜色
  color: inherit;
  // 下划线
  text-decoration: none
}

ul {
  list-style: none
}
