// 左侧栏
$menuText: #bfcbd9;
$menuActiveText: #409EFF;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// 左侧栏展开宽度
$sideBarWidth: 210px;
// 左侧栏关闭宽度
$sideBarCloseWidth: 54px;

// 右侧navbar高度
$navbarHeight: 50px;

// 导出变量
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sideBarCloseWidth: $sideBarCloseWidth;
  navbarHeight: $navbarHeight;
}
